<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          <h6>please enter your UserName & password !!!</h6>
        </div>
        <form>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >UserName</label
              >
              <input
                formControlName="username"
                type="name"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter your username"
              />
              <br />
              <span
                class="text-danger"
                *ngIf="
                  loginForm.controls['username'].dirty &&
                  loginForm.hasError('required', 'username')
                "
                >*UserName is required</span
              >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Enter your password"
              />
              <span
                class="text-danger"
                *ngIf="
                  loginForm.controls['password'].dirty &&
                  loginForm.hasError('required', 'password')
                "
                >*Password is required</span
              >
            </div>
            <button
              type="submit"
              [disabled]="!loginForm.valid"
              (click)="login()"
              class="btn btn-primary" 
            >
              Login
            </button>
          </form>
        </form>
        <a style="color: black" routerLink="/signup">
          New user? Click here to Sign Up</a
        >
      </div>
    </div>
  </div>
</div>